
input {
    outline: none !important;
}
a {
    text-decoration: none !important;
}
.Home, .Messenger {
  background-color: #f0f0f0;
  width: auto;
  height: auto;
  min-height: 100vh;
}
.Messenger .table {
    margin-top: 20px;
}
.Messenger .logo {
    width: 50px;
    height: 50px;
}
.h80 {
    min-height: 80vh !important;
}
.card {
    border-radius: 0 !important;
}
.pre_ {
    white-space: pre-wrap;
}
.Navbar a {
    display: flex !important;
    height: min-content !important;
}
.Header {
    background-color: #303b44;
}
.img-small-24 {
    width: 22px;
    height: 22px;
}
.img-small-20 {
    width: 18px;
    height: 18px;
}
.img-normal-50 {
    width: 50px;
    height: 50px;
}
.textarea-height-200 {
    min-height: 200px !important;
    height: 200px !important;
    max-height: 200px !important;
}
.min-img-40-px {
    min-width: 40px !important;    
    width: 40px !important;
    min-height: 40px !important;    
    height: 40px !important;
    padding: 0;
    margin: 0;
}
.card-img-top {
    max-height: 40vw !important;
    overflow: hidden;
}
.img-small-19-24 {
    width: 19px;
    height: 24px;
}
.card-title-company {
    opacity: .8;
    font-size: 14px;
}
.cursor-pointer {
    cursor: pointer;
}
.box-shadow {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.send-message {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.padding-top-20-px {
    padding-top: 15px !important;
}
.min-width-50-per {
    width: 50% !important;
}
.min-width {
  width: min-content;
}
.min-height {
  height: min-content;
}
.height-5px {
    height: 5px;
}
.bgc-dark-1 {
  background-color: #1e1f22 !important;
}
.bgc-dark-2 {
    background-color: #2b2d31 !important;
}
.bgc-dark-3 {
    background-color: #313338 !important;
}
.bgc-dark-4 {
    background-color: #404249 !important;
}
.bgc-dark-5 {
    background-color: #4042498d !important;
}

.bgc-dark-1-hover:hover {
    background-color: #1e1f22 !important;
}
.bgc-dark-2-hover:hover {
    background-color: #2b2d31 !important;
}
.bgc-dark-3-hover:hover {
    background-color: #313338 !important;
}
.bgc-dark-4-hover:hover {
    background-color: #404249 !important;
}
.bgc-dark-5-hover:hover {
    background-color: #4042498d !important;
}


.height-y-55-px {
    height: 55px !important;
}


.message {
    max-width: 40% !important;
    min-width: 10% !important;
    margin-bottom: 10px;
}
.my {
    display: flex;
    justify-content: end;
}
.my .message {
    margin-bottom: 0px;
}

.width-max-100 {
    max-height: 72vh !important;
}


::-webkit-scrollbar {
    width: 12px;
}



/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(137, 137, 137, 0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(208, 208, 208, 0.8); 
}



.height-90 {
    height: 66vh !important;
    overflow: hidden;
}

.friend-logo {
    width: 80px;
    height: 80px;
}

.w-49 {
    width: 49.6% !important;
}

.disabled {
    opacity: 1 !important;
}

.opacity-50 {
    opacity: .5 !important;
}
.opacity-75 {
    opacity: .75 !important;
}

.cursor-help {
    cursor: help;
}